@import 'leaflet/dist/leaflet.css';
.custom-icon {
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
}

.garden-icon {
  background-color: rgba(255, 26, 26, 0.407);
}

.playground-icon {
  background-color: rgba(205, 208, 0, 0.385);
}

/* Upravené styly pro popup */
.leaflet-popup-content {
  margin: 5px;
  max-width: 250px;
  max-height: 250px;
  overflow-y: auto;
}

.leaflet-popup-content-wrapper {
  padding: 0;
  font-size: 0.9rem;
  border-radius: 6px;
}

.popup-content img {
  max-height: 120px;
  object-fit: cover;
}
