@import "tailwindcss";
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, clight;
}

@plugin "daisyui/theme" {
  name: "clight";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.03 100);      /* světlý základ */
  --color-base-200: oklch(95% 0.06 100);
  --color-base-300: oklch(90% 0.10 100);
  --color-base-content: oklch(30% 0.05 100);  /* tmavý text */
  --color-primary: oklch(92% 0.19 100);       /* citronově žlutá */
  --color-primary-content: oklch(30% 0.05 100);
  --color-secondary: oklch(85% 0.13 230);     /* jemně modrá */
  --color-secondary-content: oklch(25% 0.04 230);
  --color-accent: oklch(80% 0.18 130);        /* limetková */
  --color-accent-content: oklch(25% 0.04 130);
  --color-neutral: oklch(60% 0.02 100);       /* šedá */
  --color-neutral-content: oklch(98% 0.01 100);
  --color-info: oklch(80% 0.14 250);          /* modrá info */
  --color-info-content: oklch(20% 0.03 250);
  --color-success: oklch(80% 0.18 140);       /* zelená */
  --color-success-content: oklch(20% 0.03 140);
  --color-warning: oklch(90% 0.18 80);        /* oranžová */
  --color-warning-content: oklch(30% 0.06 80);
  --color-error: oklch(70% 0.22 30);          /* červená */
  --color-error-content: oklch(98% 0.01 30);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 0.5;
}

@plugin "daisyui/theme" {
  name: "cdark";
  default: true;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0 0);           /* tmavý základ */
  --color-base-200: oklch(20% 0 0);
  --color-base-300: oklch(26% 0 0);
  --color-base-content: oklch(97% 0 0);       /* světlý text */
  --color-primary: oklch(60% 0.126 221.723); /* modrá */
  --color-primary-content: oklch(98% 0.019 200.873);
  --color-secondary: oklch(51% 0.262 276.966); /* fialová */
  --color-secondary-content: oklch(96% 0.018 272.314);
  --color-accent: oklch(64% 0.222 41.116);   /* oranžová */
  --color-accent-content: oklch(98% 0.016 73.684);
  --color-neutral: oklch(20% 0 0);           /* tmavě šedá */
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(70% 0.165 254.624);    /* světle modrá */
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(79% 0.209 151.711); /* zelená */
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(82% 0.189 84.429);  /* žlutá */
  --color-warning-content: oklch(30% 0.06 80);
  --color-error: oklch(71% 0.202 349.761);   /* červená */
  --color-error-content: oklch(98% 0.01 30);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 0.5;
}
